body {
    font-family: "Optima", sans-serif;
} 

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

img, object, video, embed, iframe {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0%;

}

header {
    background-color: black;
}

#banda-superior {
    background-color: black;
}

#logo {
    background-color: black;
}

@media screen and (min-width: 650 px) and (max-width: 1000 px) {

}

@media screen and (min-width: 1000 px) {

}