body {
    background-color:rgb(255, 255, 255);
    font-family:"Optima", sans-serif;
    margin:0px;
    padding:0px;
}


h1 {

}


h2 {

}


h3 {

}  


h5 {

}


p {

}


li {

}


a {

}


.cuadro {

}


.img-portada {

}

.marco-completo {

}


.marco-reducido {

}


.lista {

}


.recuadro-proyecto {

} 

.rsn-pelicula {

}


.img-resena {

    
}


.pie-foto {

}
