body {
    font-family: "Optima", sans-serif;
} 

header, nav, footer, sectiob, article, div {
    box-sizing: border-box;
}

img, object, video, embed, iframe {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0%;
}